
.item{
    color: #fff;
    text-decoration: none;
    display: block;
 
   // padding:5px 20px  ;
    span{
   margin: 0px 5px;
    }
}

.active{
    background-color: #00924e26;
}
ul
{
    list-style-type: none;
}