<!--reset password -->
<section class="auth">
    <div class="container">
        <div class="row  align-items-center justify-content-center vh-100">
            <div class="col-md-8 ">
                <div class="auth-card">
                    <div class="logo w-50 text-center mx-auto">
                        <img src="../../assets/images/logo.svg" alt>
                    </div>
                    <div class="auth-card-body ">
                        <h1>
                            Reset Password
                        </h1>
                        <p>Please Enter Your Otp or Check Your Inbox</p>
                        <form [formGroup]="resetPAsswordForm"
                            (ngSubmit)="resetYourPassword(resetPAsswordForm)">
                            <div class="input-group mb-3">
                                <span class="input-group-text"
                                    id="basic-addon1">

                                    <i class="fa fa-mobile"
                                        aria-hidden="true"></i>
                                </span>
                                <input type="text" class="form-control"
                                    formControlName="email"
                                    placeholder="E-mail" aria-label="email"
                                    aria-describedby="basic-addon1">
                            </div>
                            <!--error  for email-->
                            <span
                                *ngIf="resetPAsswordForm.controls['email'].invalid && (resetPAsswordForm.controls['email'].dirty || 
          resetPAsswordForm.controls['email'].touched)" class="error">
                                <span
                                    *ngIf="resetPAsswordForm.controls['email'].errors?.['required']">
                                    *Email is required.
                                </span>
                            </span>
                            <span
                                *ngIf="resetPAsswordForm.controls['email'].invalid && (resetPAsswordForm.controls['email'].dirty || 
        resetPAsswordForm.controls['email'].touched)" class="error">
                                <span
                                    *ngIf="resetPAsswordForm.controls['email'].errors?.['email']">
                                    *Please Enter Valid Email.
                                </span>
                            </span>
                            <div class="input-group mb-3">
                                <span class="input-group-text"
                                    id="basic-addon1">

                                    <i class="fa fa-lock"
                                        aria-hidden="true"></i>
                                </span>
                                <input type="text"
                                    class="form-control"
                                    formControlName="seed"
                                    placeholder="OTP" aria-label="otp"
                                    aria-describedby="basic-addon1">
                            </div>
                            <!--error for OTP -->
                            <span
                                *ngIf="resetPAsswordForm.controls['seed'].invalid && 
                                 (resetPAsswordForm.controls['seed'].dirty || 
                                 resetPAsswordForm.controls['seed'].touched)" class="error">
                                <span
                                    *ngIf="resetPAsswordForm.controls['seed'].errors?.['required']">
                                    *OTP is required.
                                </span>
                            </span>
                            <div class="input-group mb-3">
                                <span class="input-group-text"
                                    id="basic-addon1">

                                    <i class="fa fa-lock"
                                        aria-hidden="true"></i>
                                </span>
                                <input type="text" class="form-control"
                                    formControlName="password"
                                    placeholder="New Password"
                                    aria-label="Username"
                                    aria-describedby="basic-addon1">
                            </div>
                             <!--error for password -->
                             <span
                             *ngIf="resetPAsswordForm.controls['password'].invalid && 
                              (resetPAsswordForm.controls['password'].dirty || 
                              resetPAsswordForm.controls['password'].touched)" class="error">
                             <span
                                 *ngIf="resetPAsswordForm.controls['password'].errors?.['required']">
                                 *Password is required.
                             </span>
                         </span>
                         <span
                         *ngIf="resetPAsswordForm.controls['password'].invalid && 
                          (resetPAsswordForm.controls['password'].dirty || 
                          resetPAsswordForm.controls['password'].touched)" class="error">
                         <span
                             *ngIf="resetPAsswordForm.controls['password'].errors?.['pattern']">
                             *Yor password should contain 1 Uppercase Letter - at least 1 small case - 1 symbol - 1 digit and be at least 8 charters                      </span>
                     </span>

                            <div class="input-group mb-3">
                                <span class="input-group-text"
                                    id="basic-addon1">

                                    <i class="fa fa-lock"
                                        aria-hidden="true"></i>
                                </span>
                                <input type="text" class="form-control"
                                    formControlName="confirmPassword"
                                    placeholder="Confirm New Password"
                                    aria-label="Username"
                                    aria-describedby="basic-addon1">
                            </div>

                            <button class="primary w-100" type="submit">Reset
                                Password</button>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>