<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-12 ">
            <div class="DeleteContent p-3">
                <i class="fa fa-close close" aria-hidden="true"
                    (click)="onNoClick()"></i>
                <div class=" text-center">
                    <img
                        [src]="data.imagePath?this.imgURL+data.imagePath:dumyImage"
                        alt class>
                </div>

                <h6 class="mt-2">
                    Recipe Name : {{data.name}}
                </h6>

                <p>
                    Description : {{data.description}}
                </p>
                <p> Price :{{data.price |currency}}</p>

                <div class="d-flex justify-content-between">
                    <button type="button" class="btn primary mb-2"
                        (click)="onNoClick()">OK</button>
                  
                </div>

            </div>
        </div>
    </div>
</div>
