<section>
    <div class="page-title p-3">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-8">
                    <div>
                        <h1>Welcome
                            <span>{{userName}}</span>
                        </h1>

                        <p>
                            This is a welcoming screen for the entry of the application , you can now see the options
                        </p>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div>
                        <img src="../../../../assets/images/home-avatar.svg" alt="" class="w-75">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content mt-2 p-3">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-md-8">
                   <div>
                    <h3>
                        Fill the <span class="mainTExt">
                            Recipes !
                        </span>
                       
                    </h3>
                    <p>you can now fill the meals easily using the table and form , click here and sill it with the table !</p>
                   </div>
                </div>
                <div class="col-md-4 text-end">
                    <button class="btn primary">
                        Fill Recipes <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>









