

<div class="container">
  <div class="row justify-content-center align-items-center  ">
      <div class="col-md-12 p-2 ">
          <div class="DeleteContent  ">
             <i class="fa fa-close" aria-hidden="true" (click)="onNoClick()"></i>
             
                
                <h6 class="mt-2 mb-5">
                  Category Name
                </h6>                
                  <input class="form-control mb-3" placeholder="Category Name" matInput
                    value="{{data.name}}"
                  [(ngModel)]="data.name">
               
                <div class="text-end mt-4">
                  <button type="button" class="btn primary" [matDialogClose]="data.name"
                   [mat-dialog-close]="data.name">Save</button>
                </div>
                
          </div>
      </div>
  </div>
</div>

