
h5{
    color: rgba(73, 73, 73, 1);
}
p{color: rgba(73, 73, 73, 0.6);}

img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
[_nghost-ng-c2040221903] {
    border-radius: 50% !important;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px !important;
    width: 150px !important;
   
   
    overflow: hidden;
}
ngx-dropzone-image-preview{
    min-height: 100px !important;
    height: 100px !important;
    margin: 0;
   
   
}

[_nghost-ng-c3821590306] img[_ngcontent-ng-c3821590306]{
    border-radius: 50% !important;
} 