
<!--forgwt password -->
<section class="auth">
  <div class="container">
    <div class="row  align-items-center justify-content-center vh-100">
      <div class="col-md-8 ">
        <div class="auth-card">
          <div class="logo w-50 text-center mx-auto">
            <img src="../../assets/images/logo.svg" alt>
          </div>
          <div class="auth-card-body ">
            <h1>
              Forgot Your Password?
            </h1>
            <p>No worries! Please enter your email and we will send a password
              reset link</p>
            <form [formGroup]="forgetPAsswordForm"
              (ngSubmit)="forgetPass(forgetPAsswordForm)">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">

                  <i class="fa fa-mobile" aria-hidden="true"></i>
                </span>
                <input type="text" class="form-control "
                  formControlName="email"
                  placeholder="Enter your E-mail" aria-label="Username"
                  aria-describedby="basic-addon1">
              </div>

              <!--error -->
              <span
                *ngIf="forgetPAsswordForm.controls['email'].invalid && (forgetPAsswordForm.controls['email'].dirty || 
             forgetPAsswordForm.controls['email'].touched)" class="error">
                <span
                  *ngIf="forgetPAsswordForm.controls['email'].errors?.['required']">
                  *Email is required.
                </span>
              </span>
              <span
                *ngIf="forgetPAsswordForm.controls['email'].invalid && (forgetPAsswordForm.controls['email'].dirty || 
           forgetPAsswordForm.controls['email'].touched)" class="error">
                <span
                  *ngIf="forgetPAsswordForm.controls['email'].errors?.['email']">
                  *Please Enter Valid Email.
                </span>
              </span>

              <button class="primary w-100" type="submit">Submit</button>

            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
