<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex w-75">

              

                <input class="form-control me-2" type="search" placeholder="Search "
                    aria-label="Search">
            </form>
            <div class="user">
                     <!--need to handle condition-->
                <img class="userImage"

               
                [src]="mainImag?apiImagePath+mainImag:dumyImage">
                
                <span> {{userData?.userName}}</span>
            </div>
            <button mat-button [matMenuTriggerFor]="aboveMenu">
             <i class="fa fa-angle-down" aria-hidden="true"></i>
            </button>
            <mat-menu #aboveMenu="matMenu" yPosition="above">
                <button mat-menu-item (click)="gotoProfile()">
                    <mat-icon>person</mat-icon>
                    Profile</button>
                <button mat-menu-item  (click)="goToChangePAss()">
                    <mat-icon>lock</mat-icon>
                    Change Password</button>
                <button
                (click)="openDialog()"
                mat-menu-item >
                <mat-icon>logout</mat-icon>
                Logout</button>
              </mat-menu>

        </div>


    </div>
</nav>
