.navbar{
background-color: rgba(248, 249, 251, 1) !important;

}

.navbar-nav{
    display: flex !important;
    justify-content: space-between !important;


}
.form-control{
    padding: 0 !important;
}

.icon {
    position: absolute;
   
    color: green;
    min-width: 50px;
    text-align: center;
}