.navbar{
background-color: rgba(248, 249, 251, 1) !important;

}

.navbar-nav{
    display: flex !important;
    justify-content: space-between !important;


}
.form-control{
    padding: 0 !important;
}

.icon {
    position: absolute;
   
    color: green;
    min-width: 50px;
    text-align: center;
}



.userImage{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}


mat-icon{
color: rgba(0, 146, 71, 1) !important;

}