<div class="container">
    <div class="row  ">
        <div class="col-md-12 ">
            <div class="DeleteContent p-4" >
               <i class="fa fa-close"
               aria-hidden="true" (click)="onNoClick()"  
               ></i>
                  <h5 class="mt-2 mb-5">
                    Category Details
                  </h5>
                  <div class="text-start">
                    <p><i class="fa fa-check-circle" aria-hidden="true"></i>
                        Category Name:{{    data.name}}  </p>
                    <p><i class="fa fa-clock" aria-hidden="true"></i>  Creation Date: {{data.creationDate |date}} </p>
                    <p><i class="fa fa-clock" aria-hidden="true"></i>  Modification Date : {{data.updatingDate |date}} </p>
                  </div>
                  
            </div>
        </div>
    </div>
</div>
