.fa-close{
    color: 
    rgba(204, 0, 0, 1) !important;
    position: absolute;
    top: 10px;
    right: 10px;
    border: 2px solid  rgba(204, 0, 0, 1);
    border-radius: 50% !important;
    font-size: 15px;
    cursor: pointer;
    padding: 5px;
}
.fa{
    color: rgba(74, 163, 90, 1)
}