<div class="container">
    <div class="row justify-content-center align-items-center text-center ">
        <div class="col-md-12 ">
            <div class=" p-5">
               
               
                  <img src="../../../../assets/images/deleteDialog.svg" class="w-25 " alt="">
                  <h6 class="mt-2">
                   Sorry !  No Data Here 
                  </h6>
                  <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                 Assumenda exercitationem ducimus <br>
                 fugiat asperiores facere aut quaerat esse beatae odit ad!
                   
                  </p>
                 
                  
            </div>
        </div>
    </div>
</div>

